# OS files
.DS_Store
Thumbs.db

# Environment variables (Crucial for security)
.env
.env.local

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.pytest_cache/

# Docker & Persistence
elasticsearch/data/
logstash/data/
filebeat/data/
kafka/data/
zookeeper/data/
# Ignore any specific container state files
*.tar
*.gz

# Logs
logs/*.log
*.log